.date-range {
    width: 300px;
    margin: 0 auto 50px;
    border: 1px solid #aaa;
    padding: 10px;
}

.date-range__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-range__input input {
    width: 130px;
}

.date-range__value {
    text-align: center;
}